# Project exclude paths
/.gradle/
/address-app/address-api/build/
/address-app/address-model/build/
/address-app/address-persistence/build/
/address-app/address-service/build/
/address-app/address-web/build/
/build/
.idea